{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ilab - Sức khỏe tin cậy</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/logo_64.png' %}" rel="icon">
  <link rel="apple-touch-icon" sizes=”114×114″ href="{% static 'img/logo_114.png' %}" />
  <link rel="apple-touch-icon" sizes=”72×72″ href="{% static 'img/logo_72.png' %}" />
  <link rel=”apple-touch-icon-precomposed” href="{% static 'img/logo_114.png' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">


  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<style>
  #logo {
    position: relative;
    top: -4px;
  }

  .active {
    color: #6F4AC1 !important;
  }
</style>

<body data-spy="scroll" data-target="#nav-menu-container" data-offset="0">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fas fa-envelope-open-text"></i><a href="mailto:support@ilab.com.vn">support@ilab.com.vn</a>
        <i class="fas fa-phone"></i> <a href="tel:+842838533171">028 38 533 171</a> - <a href="tel:+840903868268">0903 868 268 </a>

        <i class="fas fa-home"></i> <a href="https://goo.gl/maps/TNotwR6pgjx">171 Nhật Tảo, Quận 10, TP.HCM</a>
      </div>

  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">

    <div class="container">

      <div id="logo" class="pull-left">
        <!--<h1><a href="#body" class="scrollto">Reve<span>al</span></a></h1>-->


        <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" width="128px" alt="" title="" /></a>

      </div>

      <nav id="nav-menu-container" class="navbar">
        <ul class="nav nav-menu">
          <li class="nav-item"><a class="nav-link" href="#intro">Trang chủ</a></li>
          <li class="nav-item"><a class="nav-link" href="#about">Giới thiệu</a></li>
          <li class="nav-item"><a class="nav-link" href="#services">Dịch vụ</a></li>
          <li class="nav-item menu-has-children"><a class="nav-link" href="#call-to-action">Kết quả xét nghiệm</a>
            <ul>
              <li><a href="http://www.ilabmedical.com/ViewResult.aspx">Kết quả cá nhân</a></li>
              <li><a href="http://www.ilabmedical.com/Dangnhap.aspx">Kết quả theo đơn vị</a></li>

            </ul>
          </li>
          <li><a class="nav-link" href="#blog">Bài viết</a></li>
          <li><a class="nav-link" href="#contact">Liên hệ</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->

  </header>
  <!-- #header -->

  <!--==========================
    Intro Section
  ============================-->


  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{message.tags}} p-3">
    {{message}}
  </div>
  {% endfor %} {% endif %}
  <section id="intro">

    <div class="intro-content">
      <h2>The laboratory you can <span>trust</span><br></h2>
      <div>
        <a href="#services" class="btn-get-started scrollto">Các xét nghiệm</a>
        <a href="#contact" class="btn-projects scrollto">Liên hệ</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel">
      <div class="item" style="background-image: url('{% static 'img/intro-carousel/1.jpg' %}');"></div>
      <div class="item" style="background-image: url('{% static 'img/intro-carousel/2.jpg' %}');"></div>
      <div class="item" style="background-image: url('{% static 'img/intro-carousel/3.jpg' %}');"></div>
      <div class="item" style="background-image: url('{% static 'img/intro-carousel/4.jpg' %}');"></div>
      <div class="item" style="background-image: url('{% static 'img/intro-carousel/5.jpg' %}');"></div>
    </div>

  </section>
  <!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->

    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="{% static 'img/ilab-1.jpg' %}" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Giải pháp tin cậy cho sức khỏe của bạn</h2>
            <h3>Xét nghiệm Y khoa iLab Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sed modi est unde molestias tempora.</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Hệ thống máy xét nghiệm tự động, hiện đại, đạt tiêu chuẩn.</li>
              <li><i class="ion-android-checkmark-circle"></i> Đội ngũ cố vấn chuyên môn từ các trường Đại Học: Đại học Y Dược TP. HCM, ĐH Khoa học tự nhiên.</li>
              <li><i class="ion-android-checkmark-circle"></i> Thực hiện đa dạng các xét nghiệm với giá thành hợp lý</li>
            </ul>

          </div>
        </div>

      </div>
    </section>
    <!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Dịch vụ</h2>
          <p>Từ các xét nghiệm thường quy đến các xét nghiệm chuyên sâu và kỹ thuật cao, iLab cung cấp một giải pháp trọn vẹn cho sức khỏe của bạn.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fas fa-vial"></i></div>
              <h4 class="title"><a href="{% url 'category' 'sinh-hoa' %}">Hóa sinh</a></h4>
              <p class="description">Các xét nghiệm sinh hóa máu, dịch, nước tiểu như chức năng gan, bộ mỡ, chức năng thận, ...</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fas fa-tint"></i></div>
              <h4 class="title"><a href="{% url 'category' 'huyet-hoc' %}">Huyết học</a></h4>
              <p class="description">Các xét nghiệm huyết học tế bào như công thức máu, huyết đồ, xét nghiệm đông - cầm máu ...</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fab fa-yahoo"></i></div>
              <h4 class="title"><a href="{% url 'category' 'mien-dich' %}">Miễn dịch</a></h4>
              <p class="description">Các xét nghiệm miễn dịch như viêm gan B, viêm gan C, các dấu ấn ung thư nhằm tầm soát và theo dõi.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fas fa-bug"></i></div>
              <h4 class="title"><a href="{% url 'category' 'vi-sinh-ky-sinh-trung' %}">Vi sinh - Ký sinh trùng</a></h4>
              <p class="description">Cấy, định danh và thực hiện kháng sinh đồ, chẩn đoán ký sinh trùng bằng huyết thanh học</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="{% url 'category' 'sinh-hoc-phan-tu' %}">Sinh học phân tử</a></h4>
              <p class="description">Thực hiện các xét nghiệm sinh học phân tử hiện đại như đo tải lượng HBV, HCV, xác định genotype HPV, Chlamydia, ....</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fas fa-microscope"></i></div>
              <h4 class="title"><a href="{% url 'category' 'te-bao-giai-phau-benh' %}">Tế bào học - Giải phẫu bệnh</a></h4>
              <p class="description">Xét nghiệm tế bào học cổ tử cung (Pap Smear) bằng phương pháp PrepMethod, tế bào học FNA, xét nghiệm giải phẫu bệnh các mô.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fas fa-female"></i></div>
              <h4 class="title"><a href="{% url 'category' 'tien-san' %}">Xét nghiệm tiền sản</a></h4>
              <p class="description">Xét nghiệm tiền sản giúp chẩn đoán đái tháo đường thai kỳ, đánh giá nguy cơ các hội chứng di truyền như hội chứng Down, tật nứt đốt sống; sàng lọc trước sinh sử dụng công nghệ không xâm lấn (NIPT)</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fas fa-medkit"></i></div>
              <h4 class="title"><a href="{% url 'all_services' %}">Tất cả các xét nghiệm <i class="fas fa-chevron-circle-right"></i></a></h4>
              <p class="description">iLab cung cấp đầy đủ các xét nghiệm, giúp việc chẩn đoán, theo dõi và điều trị, cũng như sàng lọc và chăm sóc sức khỏe một cách toàn diện nhất</p>
            </div>
          </div>
        </div>

    </section>
    <!-- #services -->


    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-left">
            <h3 class="cta-title">Kết quả xét nghiệm</h3>
            <p class="cta-text"> Tra cứu kết quả xét nghiệm trực tuyến nhanh chóng và tiện lợi.
              <br> Hướng dẫn tra cứu kết quả xét nghiệm cá nhân tại <a href="http://www.ilabmedical.com/Huongdanbn.aspx">đây</a>, hướng dẫn tra cứu kết quả theo đơn vị tại <a href="http://www.ilabmedical.com/Huongdandonvi.aspx">đây</a></p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="http://www.ilabmedical.com/ViewResult.aspx">Kết quả cá nhân</a>

          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="http://www.ilabmedical.com/Dangnhap.aspx">Kết quả theo đơn vị</a>
          </div>
        </div>
      </div>
    </section>

    <section>

    </section>


    <section id="blog" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Kiến thức về xét nghiệm</h2>
          <p>Các bài viết mới nhất</p>
        </div>
      </div>
    </section>

    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Liên hệ với chúng tôi</h2>
          <p>Thời gian mở cửa: 7:00 đến 21:00</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Địa chỉ</h3>
              <address>171 Nhật Tảo, Quân 10, TP. HCM</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Số điện thoại</h3>
              <p><a href="tel:+842838533171">028 38 533 171</a>
                <br> <a href="tel:+840903868268">0903 868 268 </a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:support@ilab.com.vn">support@ilab.com.vn</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="container mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6189897830086!2d106.66220724978443!3d10.763819092292406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752eef537bf73f%3A0x70294fc6e9bcdd30!2zMTcxIE5o4bqtdCBU4bqjbywgUGjGsOG7nW5nIDYsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1542775058466"
        id="map_frame" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>


      <div class="container">

        <form action="" class="form" method="post">
          {% csrf_token %} {% for field in form %}
          <div class="form-group">
            {{field}} {% if field.error %}
            <div class="alert alert-danger"> {{field.error}}</div>
            {% endif %}
          </div>
          {% endfor %}

          <div class="text-center">
            <button type="submit" name="button">Liên hệ</button>
          </div>
        </form>
      </div>
    </section>
    <!-- #contact -->

  </main>


  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; <strong>iLab</strong>, 2018.
        <p>For any web inquiries, please email us at <a href="mailto:webmaster@ilab.com.vn">webmaster@ilab.com.vn</a> </p>
      </div>

    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js" integrity="sha256-F0O1TmEa4I8N24nY0bya59eP6svWcshqX1uzwaWC4F4=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'lib/sticky/sticky.js' %}"></script>

  <!-- Contact Form JavaScript File -->


  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %} "></script>

  <!--<script src="{% static 'js/main2.js' %} "></script>-->

</body>

</html>
