{% extends 'base.html' %}
{% load staticfiles %}


{% block title_block %}
  {{test.name}}
{% endblock %}


{% block body_block %}
  <section class="wow fadeInUp">
    <div class="container p-4">
      <div class="section-header"><h2>Xét nghiệm {{test.name}}</h2></div>

       <h3>Loại mẫu</h3>
        <p>{{test.sample_type}}</p>

      <h3>Ý nghĩa xét nghiệm</h3>
      <p>{{test.description}}</p>

      <h3>Khoảng tham chiếu</h3>
      <p>{{test.referance_range}}</p>

      {% if test.related_post %}
      <h3>Bài viết liên quan</h3>
      <p><a href="{{test.related_post}}">{{test.related_post}}</a></p>
      {% endif %}

    </div>
  </section>

  {% endblock %}
